<section class="main-wrap">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Add Product</h2>
        <form
          id="product-form"
          action="/admin/add-product"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="">Product Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
          />
          <label for="">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            required
          />

          <label for="">Price</label>
          <input
            type="text"
            name="price"
            id="price"
            class="form-control"
            required
          />
          <label for="">Offer Price</label>
          <input
            type="text"
            name="OfferPrice"
            id="price"
            class="form-control"
            required
          />
          <label for="">Category</label>
          <select class="form-select" name="category" id="category" required>
            <% data.forEach(function(data){ %>
            <option><%= data.Name %></option>
            <% }) %>
          </select>
          <label for="">Quantity</label>
          <input
            type="number"
            name="quantity"
            id="quantity"
            min="1"
            class="form-control"
            required
          />
          <!-- <br> -->
          <label for="">Image</label>
          <img
            src=""
            id="file"
            alt=""
            class="p-2"
            style="height: 80px; width: 80px; display: none;"
          />

          <input
            type="file"
            name="file"
            multiple
            onchange="viewImage(event)"
            class="form-control"
        
          />
          <button type="submit" class="btn btn-success mt-4" onclick="Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Product Added',
            showConfirmButton: false,
            timer: 1500
          })">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function viewImage(event) {
    document.getElementById("file").style.display = "inline";
    document.getElementById("file").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>
