<section class="main-wrap">
  <div class="container">
    <div
      class="row text-center p-5"
      style="background-color: rgb(255, 255, 255)"
    >
      <form id="myForm" action="/otpNumber" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-dark display-6"
            >Enter Number</label
          >
          <% if(locals.userExist) {%>
          <p style="color: red">Number Not Exist</p>
          <% } %>
          <input
            type=""
            placeholder="Enter Your Number here"
            name="number"
            class="form-control bg-white text-center"
            id="number"
          />
        </div>
        <button type="submit" class="btn btn-primary">Get Otp</button>
      </form>
      <small class="mt-5 text-dark">
        back to Login
        <a href="/login" class="text-decoration-none">Login</a>
      </small>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  document.querySelector('#myForm').addEventListener('submit', function(event) {
    var numberInput = document.querySelector('#number');
    if (isNaN(numberInput.value)) {
      event.preventDefault(); // Prevent the form from submitting
      Toastify({
  text: "Please Enter Numbers Only",
  duration: 3000,
  destination: "https://github.com/apvarun/toastify-js",
  newWindow: true,
  close: true,
  gravity: "center", // `top` or `bottom`
  position: "center", // `left`, `center` or `right`
  stopOnFocus: true, // Prevents dismissing of toast on hover
  style: {
    background: "linear-gradient(to right, #00b09b, #96c93d)",
  },
  onClick: function(){} // Callback after click
}).showToast();
    }
  });
</script>

