<section>
    <div class="container">
        <div class="row" >
            <div class="card text-center">
                <div class="card-header">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_uczLDAzz78fbJoMT-MRcugJ2f5utnA3xbw&usqp=CAU">
                  <h5 class="mb-2">OTP VERIFICATION</h5>
                  <div>
                    <!-- <small>code has been send to +91 ******1258</small> -->
                    <small>Check Your Message To View Otp</small>
                  </div>
                
                </div>
                <form action="/otpVerify" method="post">
                  <% if ( locals.invalidOtp){%>
                    <p class="text-danger">Invalid otp</p>
                  <% }%>
                <div class="input-container d-flex flex-row justify-content-center mt-2 mb-5">
                  <input placeholder="Enter your Valid Otp here"   name="otp" type="text" class=" text-center form-control rounded">
                  
                </div>
                <div>
                  <!-- <form action="/postOtp" method="post">
                  <small>
                  Didn't get the otp
                  <a href="" class="text-decoration-none">Resend</a>
                  </small>
                </form> -->
                </div>
                <div class="mt-3 mb-5">
                  <button type="submit" class="btn btn-success px-4 verify-btn">verify</button>
                </form>
                <br>
                <a href="/login">
                <button  class="btn btn-success px-4 verify-btn mt-2">Go Back</button>
                </a>
                </div>
              </div>
        </div>
    </div>
</section>